body {
  height: 100%;
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  color: #b95225;
}
.container {
  background: transparent;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 15px;
}
.app-data {
  display: flex;
  justify-content: space-between;
}
.weather-details {
  font-size: 15px;
  color: rgba(39, 33, 66, 0.4);
  line-height: 20px;
}

.weather-details strong {
  color: #0b7db3;
}

.app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.current-temperature {
  display: flex;
}

.current-temperature-value {
  font-size: 78px;
  margin-left: 10px;
  font-weight: bold;
}

.temperature-unit {
  margin-top: 16px;
  font-size: 25px;
}
.weather-icon {
  width: 88px;
  height: 88px;
}

header {
  border-bottom: 1px solid #ace0f9;
  padding: 0 0 30px 0;
}
.search-form-input {
  background: #ace0f9;
  border-color: #0b7db3;
  border-radius: 8px;
  width: 70%;
  padding: 10px 15px;
  font-size: 15px;
}
.search-form-button {
  background: #fff1eb;
  border-color: #b95225;
  padding: 10px 15px;
  border-radius: 8px;
  margin-left: 5px;
  font-size: 15px;
}
main {
  padding: 30px 0;
}

footer {
  border-top: 1px solid#ace0f9;
  padding: 30px 0 0 0;
  text-align: center;
  font-weight: 500;
  font-size: 15 px;
  color: rgba(0, 0, 0, 0.6);
}
